@import "bootstrap";
@import "select2";

.sites {
  padding: 8px 0;
}

.select2-drop {
  display: none !important;
}

.tags {
  span {
    cursor: pointer;

    &.active {
      background-color: darken($infoBackground, 30%);
    }
  }
}